@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&display=swap');

*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

.navBar {
 
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
}

.menu ul {
    display: flex;
    list-style: none;
    gap: 80px;
    padding: 0;
    margin: 0;
    font-family: "manjari";
    font-size: 22px;
}

.logo{
     
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
 
}
.logo img{
   width: 80%;
  
   display: flex;
   justify-content: center;
   
}
.iconos {
    display: flex;
    justify-content: end;
    gap: 25px;
}
.iconos img{
    width: 40%;
}

.menu a {
    text-decoration: none;
    color: #EA6872;


}
header{
    position: fixed;
    
    width: 100%;

    z-index: 1000;
}

.menu a:hover {
    color: #ffa5ad;
}
/*barra de modos */
.cambio{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
      
    top: 50px;        
    width: 100%;

    z-index: 1000;
}
.button{
    background-color: #FFAAA5;
    width: 63.3%;
    height: 60px;
    border-radius: 200px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: flex-end;
    transition: 0.2s;
}
.button::before{
    background-image: url(./images/Gift.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 55px;
    position: absolute;
    content: "";
    
    background-color: #FF8D8D;
    width: 150px;
    height: 60px;
    border-radius: 100px;
    
    transition: 0.2s;
}
input:checked+.button{
    background-color: #FFAAA5;
}
input:checked + .button::before{
    transform: translate(-1050px);
    
    background-image: url(./images/usuario\ temporal.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
    position: absolute;
}

input{display: none}
.cambio span{
    color: #f5f5f5;
    position: absolute;
    top: 10%;
    right: 45%;
    font-size: 40px;
}

.button span{
    align-items: baseline;
    position: relative;
    justify-content: center;
}
/*hero*/
.hero{
   background: #fdf5f5;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0px 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    min-height: 100vh;
    position: relative;
    
    
}
.hero::before{
    content: "";
    position: absolute;
    background-color: #ff0000;
    width: 40%;
    height: 30%;
    border-radius: 50%;
    clip-path: shape(from 90.89%  45.64% Px1(60%) Py1(5%),curve to Px2(65%) Py2(5) with Cx1 Cy1,curve to Px3 Py3 with Cx2 Cy2,);
}
.hero h1{
    font-size: 100px;
    color: #300d0d;
    align-content: flex-start;
}
.hero span{
    color: #572610;
    font-size: 150px;
}
.hero-content{
   
    font-weight: 400;
    font-size: 20px;
    width: 500px;
    padding: 20px 0px;
    position: relative;
    top: 5vh;
   
}
.linea{
    width: 27%;
    height: 1.1%;
    background-color: #e4cece;
    position: absolute;
    top: 111%;
    
    left: 82%;
}
.hero-image{
    position: relative;
    display: flex;
    justify-content: end;
    top: 10vh;
    right: 8%;
    width: 53%;
}
.hero-image img{

    top: 50%;
    width: 60%;
}
.mini-images{
    position: relative;
    top: 70px;
}

.mini-images ul{
    
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 100px;
    
   
}
.mini-images img{
   
    width: 150%;
}
.productos{
    margin:100px;
}
.filtros{
    margin:100px;
}
.hero-content p{
    color: #300d0d;
    font-family:"manjari";
    font-size: 25px;
    font-weight: 400;
}
h1 {
    font-family: "Lilita One", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.productos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row;
    align-items: center;
    align-content: center;
    gap: 50px;
    margin-left: 14%;
    margin-right: 14%;
    justify-items: center;
    justify-content: center;
    
}
/*cada productos*/

.caja article{
    background-color: #f7eded;
    height: 600px;
    border-radius: 20px;
    text-align: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    padding: 20px;
    
}
.compra{
     background-color: #ff5e5e;
    width: 45%;
    height: 60px;
    border-radius: 12px;
    cursor: pointer;
    position: relative;
    display: flex;

    justify-content: center;
    align-items: center;
}
.texto-caja{
    text-align: left;
    
}
.video-promocional{
    height: 800px;
    background-size: cover;
    background-color: #887373;
}

.image{
   
    width: 390px;
    height: 380px;
    overflow: hidden;
    border-radius: 20px;
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    object-fit: fill;
}

