@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mada:wght@200..900&family=Manrope:wght@200..800&display=swap');

*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

.navBar {
 
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
}

.menu ul {
    display: flex;
    list-style: none;
    gap: 80px;
    padding: 0;
    margin: 0;
    font-family: "manjari";
    font-size: 22px;
}

.logo{
     
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
 
}
.logo img{
   width: 80%;
  
   display: flex;
   justify-content: center;
   
}
.iconos {
    display: flex;
    justify-content: end;
    gap: 25px;
}
.iconos img{
    width: 15%;
}

.menu a {
    text-decoration: none;
    color: #EA6872;


}
header{
    position: fixed;
    
    width: 100%;

    z-index: 1000;
}

.menu a:hover {
    color: #ffa5ad;
}
/*barra de modos */
.cambio{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
      
    top: 50px;        
    width: 100%;

    z-index: 1000;
}
.button{
    background-color: #FFAAA5;
    width: 63.3%;
    height: 60px;
    border-radius: 200px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: flex-end;
    transition: 0.2s;
}
.button::before{
    background-image: url(./images/Gift.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 55px;
    position: absolute;
    content: "";
    
    background-color: #FF8D8D;
    width: 150px;
    height: 60px;
    border-radius: 100px;
    
    transition: 0.2s;
}
input:checked+.button{
    background-color: #FFAAA5;
}
input:checked + .button::before{
    transform: translate(-1050px);
    
    background-image: url(./images/usuario\ temporal.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
    position: absolute;
}

input{display: none}
.cambio span{
    color: #f5f5f5;
    position: absolute;
    top: 10%;
    right: 45%;
    font-size: 40px;
}

.button span{
    align-items: baseline;
    position: relative;
    justify-content: center;
}

.hero-regalo{
    padding-top:3%;
    width: 100%;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
   
       background: linear-gradient(
        to right,
        #3D2C62 0%,
        #3D2C62 70%,
        #D3C5F6 70%,
        #D3C5F6 100%
    );
    z-index: 1;
    
}
.hero-regalo::before{
      content: "";
    background-color: #3D2C62;
    height: 10%;
    width: 40%;
    background-size: 100%;
    position: absolute;
    right: 0%;
    bottom: 0%;
    background-repeat: no-repeat;
    border-radius: 100% 50%;
}


.contenido-hero{
     padding-top: 5%;
    padding-left: 10%;
    z-index: 1;
}

.contenido-hero h4{

    font-family: "manrope";
    font-size: 3vh;
    color: #E9A454;
   
}
.contenido-hero h1{
    font-family: "mada";
    font-size:15vh ;
    letter-spacing: -8px;
    font-weight: 800;
    color: #f5f5f5;
    line-height: 1;
    margin-bottom: 30px;
}

.contenido-hero p{
    font-family: "manjari";
    font-size: 2.3vh;
    color: #f5f5f5;
    font-weight: 200;
    

}

.hero-imagen img{
    
    position: relative;
    width: 100%;
    padding-right: 10%;
    right: 10%;
    top: 50px;
    
}
.angel{
    margin-top: 30px;
    display: flex;
    gap: 20px;
}
.angel button{
    
    background: none;
    padding: 10px 40px 10px 40px;
    border: solid 1px;
    border-radius: 200px;
    color: #D3C5F6;
}
.angel p{
    position: relative;
    top:0.2vh;
    font-size: 22px;
    font-weight: 500;
    color: #D3C5F6
}
.filtros ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 5%;
    padding: 0px;
}
.filtros li{
    display: flex;
    border: 1px solid;
    width: 12%;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 200px;
    font-family: "manjari";
    font-size: 30px;
    padding: 0px;
    padding-top: 0.5%;
    color: #96BA7F;
}

.filtros{
   margin-top: 2.5%; 
   margin-left: 5.2%;
   margin-right: 5.2%;
   padding: 0px;
}
#ordenar{
     background: none;
    padding: 10px 30px 10px 30px;
    border: solid 1px;
    border-radius: 200px;
    color: #D3C5F6;
    background-color: #D3C5F6;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    
}
#ordenar p{
    position: relative;
    top: 0.3vh;
    font-size: 22px;
    font-weight: 600;
    color: #3D2C62;
}
#ordenar img{
    width: 2vh;
    height: 2vh;
    
}
.redes{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 92%;
    right: 2%;
    z-index: 70;
}
.redes li{
    list-style: none;
}
.redes ul{
    display: flex;
    gap: 1.6vh;
}
.redes img{
    min-width: 30px;
    width: 5vh;
    height: 5vh;
    
}
/*bordes */

/*cada productos*/


/* canasta de regalo */
#titulo{
    display: flex;
    justify-content: center;
    font-family: "manrope";
    font-weight: 400;
    font-size: 6vh;
    margin: 4vh;
    color: #605656;
}
.canastita article{
    display: flex;
    justify-content: center;
    
}
.canastita li{
    display: flex;
    width: 550px;
    height: 65px;
    gap: 70px;
    background-color: #FFF2ED;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
    font-family: "manjari";
    font-size: 25px;
    font-weight: bold;
    color: #572610;
}
.canastita li p{
    margin-top: 1vh;
}
.ayuda{
    display: flex;
    gap: 20px;
    font-size: 3vh;
    align-items: center;
}
.ayuda p{
    position: relative;
    margin-top: 1vh;
}
.ayuda img{
    width: 1.5vh;
    height: 1.5vh;
}
.imageregalo{
    width: 90vh;
}
.imageregalo img{

    width: 100%;
}

.botoncito{
    position: relative;
    top: 21vh;
    left: 40PX;
    width: 94%;
    height: 65px;
    border-radius: 15px;
    color: #F5f5f5;
    background-color: #FF8751;
    font-family: "manjari";
    font-size: 4vh;
}

.regalosagre ul{

    display: flex;
    flex-direction: column;
    
    gap: 20px;
} .parrafos{
     
    display: flex;
    justify-content: space-between;
    font-family: "manjari";
    position: relative;
    top: 20vh;
    font-size: 4vh;
    color: #605656;
    font-weight: 600;
}

/* BOTONES PAGINAS */

.botones-pagina {
    display: flex;
    justify-content: space-between;
    gap: 4%;
    margin-left: 10%;
    margin-right: 10%;
    justify-items: center;
    justify-content: center;
    padding: 5%;

}

.pedidos {
    background-color: #fff9f6;
    height: 50vh;
    /*el widht no sirve*/
    border-radius: 20px;
    justify-items: end;
    padding: 20px;
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.boton-image {
    width: 400px;
    height: 400px;
    overflow: hidden;

    border-radius: 15px;
    clip-path: polygon(100% 0, 100% 67%, 76% 100%, 0 100%, 0 0);
    position: relative;
}

.boton-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.boton {
    position: absolute;
    z-index: 10;
    left: 82.6%;
    top: 998.1%;
    color: #572610;
    background-color: #96BA7F;
    clip-path: circle();
    padding: 13px;

}

.boton1 {
    position: absolute;
    z-index: 10;
    left: 30.6%;
    top: 998.1%;
    color: #572610;
    background-color: #96BA7F;
    clip-path: circle();
    padding: 13px;
}

.boton2 {
    font-family: "manjari";
    position: absolute;
    z-index: 10;
    left: 56.6%;
    top: 998.1%;
    color: #572610;
    background-color: #96BA7F;
    clip-path: circle();
    padding: 13px;

}

.boton img {
    width: 26%;
}

.boton1 img {
    width: 26%;
}

.boton2 img {
    width: 26%;
}

.pedidos h4 {
    font-family: "manrope";
    font-weight: 600;
    font-size: 28px;
    color: #96BA7F;
}

.pedidos p {
    font-family: "manjari";
    font-size: 15px;
    color: #605656;
}
/*pie de pagina*/
.pie {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #605656;
    padding: 2%;
    align-items: center;

}

.pie ul {
    list-style: none;
    display: flex;
    gap: 20px;

}

.logo-footer {

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logo-footer img {
    width: 13vh;
}

.image-footer img {

    width: 40px;
    height: 40px;

}

.lado-izquierdo {

    display: flex;
    align-items: center;

    gap: 16px;
}

.lado-izquierdo img {
    width: 60px;
}

.lado-izquierdo p {
    text-decoration: underline;
    padding-top: 15px;
    font-family: "manjari";
    color: #f5f5f5;
    font-size: 25px;
    font-weight: 400;
}
